







    <section class="container">
        <div class="products">      
            <% for(var i=0;i<productos.length;i++){%>
           
         <div class="carts">
                <div>
                    <img src="/stylesheets/images/productos/<%=productos[i].id_Producto%>.jpg" alt="">
                    <p><span><%=productos[i].precio_pro%></span>$</p>
                </div>
                <p class="title"><%=productos[i].nombre_pro%></p>
                <p class="title"><%=productos[i].descripcion_pro%></p>
                <a href="" data-id="<%=productos[i].id_Producto%>" class="btn-add-cart">Agregar al carrito</a>
            </div>
            <% }%>
        </div>
        </div>
    </section>

    <footer>
        <%- include("../Comunes/footer.ejs") -%>
    </footer>

   
</body>
</html>